bin/
obj/
logs/
*.log

.vs/
*.user
*.userosscache
*.suo
*.userprefs


.vscode/
.vscode/settings.json
.vscode/tasks.json

.idea/
*.sln.iml

project.lock.json
project.fragment.lock.json
artifacts/
**/packages/

.DS_Store
Thumbs.db
